.btn {
  border: 1px solid #ea474f;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.btn:hover {
  border: 1px solid #ea474f;
  background-color: #ea474f;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
